<footer class="footer bg-dark py-3 mt-auto">
    <div class="container " style="text-align: center;">
        <span class="text-muted" style="text-align: center;">
            By Bisheswar Mahato &copy;
        </span>
    </div>   
</footer>