<div>
    <div class="header">
        <div class="overlay">
    <h1 class="H1">Simply The Best</h1>
    <h3 class="H3">Avail Exclusive Hotel Deals</h3>
    <p class="PP">Search 100s of hotel deals at once. Find the best place to stay. Find cheap accommodation deals for your next stay with HOTELS4U hotel price comparison. Search, Compare & Book. Easy & Fast Booking. Save Time and Money.</p>
        <br>
        <% if(!currentUser)  { %> 
            <form action="/login" method="get">
                <h4 class="H3">PLease Log-In</h4>
                <button class="BUTTON">Log In</button>
            </form>
        <% } %> 
        </div>
    </div>    
</div>
