<% layout('layout/boilerplate') %> 
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About us page</h1>
          <p class="lead text-muted mb-0">Fell Free to Contact Us.</p>
          <br>
          <p class="lead text-muted">
            Search 100s of hotel deals at once. Find the best place to stay. Find cheap accommodation deals for your next stay with HOTELS4U hotel price comparison. Search, Compare & Book. Easy & Fast Booking. Save Time and Money.
          </p>
          <ul>
            <li><a href="#">abc@gmail.com</a></li>
            <li><a href="#">Egf@gmail.com</a></li>
            <li><p>Constact : 98798765432</p></li>
        </ul>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  